.site-body {
  min-height: 100vh ;
  display: flex;
  flex-direction: column;
}
.site-content {
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.footer-hide {
  footer { display: none;}
}
.wrapper {
  max-width: 90em;
  margin-right: auto;
  margin-left: auto;
}
.container-fluid {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
}
.row {
  &.no-gutter {
    & > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.freeze { overflow: hidden;}
