footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #212121;
  h3 {
    color: white;
    font-size: 2rem;
  }
  address {
    ul {
      margin: 0 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    li { padding: 0 .5rem;}

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: rgba(white, .8);
        text-decoration: underline;
      }
    }
  }
}
