.hero {
  // background-color: rgba(black, .5);
  .bkgrnd-image {
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    padding: 12rem 0;
    background-attachment: fixed;
  }
  address {
    ul {
      margin: 0 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    li { padding: 0 .5rem;}
    a {
      color: #90A4AE;
      text-decoration: none;
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: $purple-hover;
        text-decoration: underline;
      }
    }
  }

  hr {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width: .15rem;
  }
}

.hero-copy {
  background-color: rgba(black, .5);
  color: white;
  padding-bottom: 1rem;
}
