.nav {
  position: fixed;
  width: 100%;
  max-width: 16rem;
  top: 0;
  bottom: 0;
  left: 0;
  padding-top: 3.8rem;
  height: 100vh;
  z-index: 5;
  box-shadow: 8px 0 6px -6px rgba(black, .3);
  background-color: darken(white, 5%);
  transform: translateX(-32rem);
  transition: transform .3s;

  @include breakpoint(phablet) {
    background-color: white;
    box-shadow: -1px 8px 6px -6px rgba(black, .3);
    height: auto;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transform: translateX(0);
    max-width: initial;
    top: 0;
    bottom: auto;
    left: auto;
    right: auto;
  }

  ul {
    display: flex;
    flex-direction: column;

    @include breakpoint(phablet) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &.is-shown { transform: translateX(0);}

  a {
    color: $purple-hover;
    text-decoration: none;
    cursor: pointer;
    display: block;

    transition: color .3s;
    &:hover { color: white;}
  }
}
.nav-link {
  padding-top: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  border-top: 1px solid $site-gray;
  text-align: center;
  font-size: 1.2rem;
  @include breakpoint(phablet) {
    text-align: left;
    font-size: 1rem;
    border-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2rem;
  }
}
.nav-toggle {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  padding: 1rem 0 2.2rem 1rem;
  background-color: darken(white, 5%);
  width: 100%;
  z-index: 10;
  cursor: pointer;
  box-shadow: -1px 8px 6px -6px rgba(black, .3);
  transition: box-shadow .3s;

  @include breakpoint(phablet) {
    display: none;
  }

  .toggle {
    position: relative;
    width: 3rem;
    margin: 0;
    padding: 0;

    span {
      display: block;
      width: 100%;
      height: .2rem;
      background-color: $purple-hover;
      transition: transform .3s;
      border-radius: 2px;
      // position: absolute;
      // top: 0;
    }
    &:after, &:before {
      content: '';
      display: block;
      width: 100%;
      height: .2rem;
      position: absolute;
      bottom: -.55rem;
      background-color: $purple-hover;
      opacity: 1;
      transition: opacity .3s, transform .3s;
      border-radius: 2px;
    }
    &:after { bottom: -1.1rem; }
  }

  &.is-shown {
    box-shadow: -1px 8px 6px -6px transparent;
    .toggle {
      span { transform: rotate(45deg) translate(0.4rem, 0.3rem);}
      &:before { transform: rotate(-45deg);}
      &:after { opacity: 0;}
    }
  }
}
