// colors
$site-color: #000000;
$site-background: #ffffff;
$site-hover: #989c9f;
$site-highlight: #f7155b;
$site-gray: #cbcbcb;
$site-dark-gray:#646b6b;
$amber: #FFC107;
$purple-hover: #9C27B0;

//font families
$base-font: 'latoregular';
$itallic: 'latoitalic';
$bold: 'latosemibold';
$bold-italic: 'latosemibold_italic';
$light: 'latolight';
$light-italic: 'latolight_italic';
$extra-light: 'latohairline';
$extralight-itallic: 'latohairline_italic';


// page layout
$header-height: 77px;
$footer-height: 230px;
$border-radius: 5px;
